section,
header,
nav,
article,
aside,
footer,
main {
    display: block;
}

.col-centered{
   float: none;
   margin: 0 auto;
}

p {
   margin-top: 20px;
}

p::first-letter {
  font-size: 1.5rem;
  font-weight: bold;
  color: #0e2879;
}
.error {
    color: #ffea04;
}
form.login-form {
    margin-left: auto;
    margin-right: auto;
    max-width: 40%;
    background-color: #efefef;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 15px;
}
form.mail-form {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    background-color: #efefef;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 15px;
}
/* стилизуем кнопку */
.go-top {
    position: fixed;  /* Фиксированная позиция */
    right: 10px;  /* регулировка */
    bottom: 20px; /* положения */
    cursor: pointer; /* рука, как для ссылки */
    font-size: 18px;
    color: rgba(0, 51, 153, 0.8);
    border: 1px solid rgba(0, 51, 153, 0.2);
    border-radius: 50%; /* квадрат в круг */
    background-color: rgba(0, 51, 153, 0.6);
    padding: 8px 15px 12px 15px;
    z-index: 9999; /* над всеми элементами */
    display: none; /* изначально кнопку не видно */
}

/* поведение при наведении мыши */
.go-top:hover {
    color: rgba(0, 51, 153, 0.95);
    border: 1px solid rgba(255, 0, 0, 0.75);
    background-color: rgba(100, 51, 153, 0.85);
}

/* модификатор для отображения */
.go-top--show {
    display: block;
}