{%  extends "base.html" %}

 {% block content %}
    <h1> Как с нами связаться </h1>
    <b>Контакты</b> mail@maileu.ru <br>
    <b>Телефон</b> Адрес <br>
    <b>Телефон 2</b> Адрес 2<br>

{% endblock %}


<!--подвал-->

 <!--подвал-->
{% block footer %}
<!--подвал-->
    <br>
    <footer class="nav_flag text-center text-lg-start">
        <!-- Copyright -->
        <div class="text-center p-3"> <!--  style="color: #F8FAA7"-->
            © 2024 Флагман Консалтинг
        </div>
        <!-- Copyright -->
    </footer>
{% endblock %}