{%  extends "base.html" %}

 {% block content %}
{% if not form %}
    <h1>Форма для регистрации</h1>
    <form class="login_form" method="post">
        <label for="email">Почта: </label><input class="form-control" type="email" name="email" id="email" placeholder="Введите email">
        <label for="password">Пароль: </label><input class="form-control" type="password" name="password" id="password" >
        <label for="profSelect">Должность на борту нашего рейса</label>
        <select class="form-control" name="profession" id="profSelect">
            <option>Пилот</option>
            <option>Борт-механик</option>
            <option>Радист</option>
            <option>Стюардесса</option>
        </select>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
{% else %}
    <h1>Вот что вы отправили</h1>
    <p><b>Ваш email: </b> {{ form['email'] }}</p>
    <p><b>Пароль: </b> {{ form['password'] }}</p>
    <p><b>Ваша профессия: </b> {{ form['profession'] }}</p>
{% endif %}
{% endblock %}


<!--отстой-->
<!--    <h1>Вот что вы отправили</h1>-->
<!--    <p><b>Ваш email: </b> {request.form['email']}</p>-->
<!--    <p><b>Пароль: </b> {request.form['password']}</p>-->
<!--    <p><b>Ваша профессия: </b> {request.form['profession']}</p>-->
 <!--отстой-->
{% block footer %}
<!--подвал-->
    <br>
    <footer class="bg-body-tertiary text-center text-lg-start">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2024 Флагман Консалтинг
        </div>
        <!-- Copyright -->
    </footer>
{% endblock %}