
{% extends "base.html" %}

{% block content %}
<h1>Привет</h1>
<p>{{ text }}</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam architecto, consequuntur deserunt, dicta doloribus
    earum exercitationem fugiat id in iste magnam, non porro provident reiciendis saepe. Alias asperiores assumenda
    atque consequatur consequuntur cupiditate debitis, deserunt dicta dolor eius est hic illum magnam numquam pariatur
    praesentium quam quisquam ratione similique tempore, totam ullam velit vitae! A adipisci assumenda beatae, eius est
    ipsa iure magni maiores nesciunt nihil odit possimus quaerat quo, reiciendis vero, voluptas voluptatum. Ab alias
    beatae debitis dolores dolorum error, expedita facilis fugit id illum ipsum magnam neque nihil non nostrum nulla,
    obcaecati porro quae repellendus rerum, sapiente sed sequi sint suscipit vitae? Ab blanditiis commodi cumque dolor
    et fuga libero minus nihil nisi obcaecati odio optio quam saepe soluta, sunt tempore veniam vitae voluptatum! Ad
    adipisci, dolores ea explicabo harum in maxime omnis quas qui quia quibusdam, rem sapiente tempora veritatis
    voluptatibus? Ab architecto aspernatur atque beatae commodi consequatur culpa delectus dicta dolore dolores ducimus
    eligendi excepturi exercitationem harum illum in, laudantium magnam, magni molestiae nam nesciunt nobis nostrum
    optio perferendis porro quam qui quidem repellat sequi, tempore unde ut vel voluptas. A accusamus aliquam delectus
    eos fugit harum iure, maxime minima minus natus nisi pariatur, perferendis perspiciatis repellat repudiandae ullam
    vero? Ad architecto dolor ducimus expedita necessitatibus odio provident quam quidem sint, ut! Consequatur dicta
    molestias quia quibusdam veniam! Adipisci alias aliquid aspernatur assumenda autem corporis culpa distinctio dolores
    eius enim eos excepturi expedita facilis, hic ipsum necessitatibus officia perspiciatis provident quisquam
    reiciendis repellendus sapiente sint vero voluptas voluptatum. Ab alias consequuntur dolorem eius, esse et
    necessitatibus nulla numquam quo. Aliquam exercitationem facere harum impedit iure non odio unde veniam. A accusamus
    accusantium alias amet asperiores aspernatur autem consectetur cumque cupiditate dicta earum enim excepturi facere
    harum hic incidunt mollitia, neque pariatur quae qui quisquam recusandae repellendus sed sit tenetur veniam
    voluptatem. Beatae dolores error exercitationem nemo nisi non omnis pariatur quaerat quas vitae! A, accusamus
    accusantium ad assumenda corporis earum est, eum explicabo id, impedit inventore laborum magnam molestiae nesciunt
    odit possimus praesentium quae ratione repudiandae similique velit vitae voluptates? Animi asperiores aut
    consectetur cumque dicta doloribus earum incidunt ipsum minima, necessitatibus neque praesentium recusandae
    repudiandae saepe soluta sunt ut. Consectetur earum illo illum iure magnam minima neque nesciunt placeat quod
    repellendus, rerum velit veniam voluptatum! Accusamus accusantium, dicta dignissimos, enim eos eum fugiat harum hic
    illo incidunt ipsum magnam minima nobis officia optio quae qui quis quod reiciendis sed sit tempore ullam! Ad
    aperiam debitis doloremque, fugit praesentium quisquam quod saepe tempore! Culpa, dolor doloribus exercitationem
    fugiat illo magnam maxime molestias neque nisi nobis officiis porro quo sapiente sint sunt voluptates voluptatibus.
    Aperiam, corporis delectus inventore, laudantium modi neque nobis officia pariatur, quam quas qui quisquam sint
    veniam. Accusamus adipisci eaque est iste laudantium perferendis quis reiciendis veniam? A amet delectus earum
    itaque natus optio quasi repellendus, totam veniam veritatis. Amet dicta doloremque doloribus error harum hic non
    odit quo reiciendis sunt vitae, voluptate. Consectetur dolor est ex recusandae voluptas. Accusantium aperiam
    asperiores consectetur corporis cumque cupiditate delectus deserunt dicta distinctio dolorum ducimus eaque eligendi
    eos eveniet hic illum iste iusto laboriosam molestiae obcaecati pariatur quam, quas quibusdam ratione rem
    repudiandae rerum sit soluta unde voluptas? Aliquid amet labore pariatur perspiciatis rerum! Consectetur eaque in
    laborum nam nesciunt! Aperiam cumque hic illum neque tenetur? Accusantium aliquam aperiam architecto assumenda
    consequatur delectus, eaque eius eligendi eos, ipsum mollitia natus neque non quidem quo quos vel vero! Cumque harum
    in ipsum, maxime quisquam repellat tenetur voluptas? Adipisci architecto cumque delectus et excepturi illo inventore
    ipsa ipsam iusto, libero molestiae necessitatibus neque, nobis nulla quaerat quia quibusdam quisquam quod ratione
    repellat totam vel veritatis vitae? Culpa, maiores, soluta! Ab debitis deleniti eius iusto magni molestias nostrum
    quidem, ullam vel voluptas. A ad alias assumenda atque autem blanditiis consequatur corporis culpa dicta dignissimos
    dolor dolorem ducimus ea error esse est eum expedita hic id illum ipsa ipsam magni maiores molestiae nobis non
    nulla, numquam provident quae quas quisquam reiciendis sapiente, sed sit ullam voluptate, voluptatum? Eligendi nihil
    officia quae suscipit. Aliquam amet aspernatur atque aut doloremque ea enim eum ex itaque magnam magni, maxime
    necessitatibus nostrum numquam perferendis recusandae veritatis. Error eveniet illo ipsa iste molestiae
    necessitatibus nulla quae saepe, vitae! Cumque explicabo facilis hic ipsam itaque nemo nulla ratione sapiente ut
    vero! Ab accusantium alias aliquid architecto aspernatur, corporis cum dicta dignissimos dolore dolorum eius
    excepturi expedita illo ipsum iure laborum laudantium libero minima molestiae molestias nam nesciunt nobis non
    nostrum odio perferendis perspiciatis porro qui quibusdam recusandae repellat sapiente sed suscipit temporibus
    tenetur totam veniam! Amet cum ducimus labore quidem quis ut voluptas? A animi architecto at atque consequatur
    consequuntur culpa debitis distinctio doloremque earum, esse excepturi exercitationem explicabo fugit iste iusto
    magnam mollitia nesciunt non nulla, numquam obcaecati officia officiis quas quisquam quod repellendus sapiente sit
    sunt temporibus ullam velit vitae, voluptatem. Facilis nemo, perspiciatis! Aliquid ducimus ex, exercitationem
    facilis fuga fugiat id illum ipsam magni perferendis provident, repudiandae sequi tempora ut voluptate? Eligendi
    ipsum libero sapiente vel veniam. Numquam, rem rerum! Aliquid exercitationem laboriosam rem, repellendus ut velit
    veniam? Ab ad distinctio, dolor eius fugit incidunt, ipsa ipsam maiores nemo sequi similique, tenetur velit
    voluptatem? Aspernatur blanditiis doloremque dolorum facere hic labore, magni natus non optio quasi qui quibusdam
    sed similique tempore tenetur veniam vero voluptas, voluptate. Doloribus est magni mollitia recusandae sapiente
    sequi voluptates. Asperiores cum cumque eos harum iure nemo officiis, quidem quod similique voluptatum! Culpa
    tempora, unde. A accusantium alias architecto atque beatae dolor earum eos est expedita facere fugiat harum id ipsa,
    iste, maiores molestiae natus, nesciunt nobis quam quidem repudiandae tempora tempore tenetur ut vitae voluptas
    voluptatem voluptatibus? A animi aperiam atque cumque deleniti doloremque ducimus eaque exercitationem facere
    incidunt labore laboriosam mollitia non praesentium quaerat quis rem reprehenderit sed sequi soluta, totam vel,
    velit voluptatum? A, ad beatae consequuntur deserunt ea exercitationem laudantium maxime nulla officia quas rem
    similique ullam unde. Alias consequatur itaque molestiae optio quas quibusdam. Accusamus adipisci architecto
    asperiores beatae blanditiis consectetur corporis doloremque dolorum eaque enim eos ex exercitationem hic id ipsum
    iusto mollitia necessitatibus neque, nostrum officia omnis pariatur porro possimus quaerat quas quasi quibusdam
    quidem quo, ratione repellat repudiandae rerum saepe similique tempore vel veritatis voluptatibus? Deserunt, ea eos
    excepturi ipsam iusto nihil nobis, nulla qui quibusdam quo temporibus totam unde, veritatis? Ad adipisci atque
    distinctio enim eos id impedit magnam quis sequi veritatis? Atque, dicta eum fugit illo officiis velit. Autem
    possimus quis recusandae. Aliquid animi debitis distinctio doloribus ducimus, enim est et, iure magnam nihil nobis
    numquam obcaecati odio pariatur placeat praesentium quaerat quia quidem quis, quo repellendus sapiente veniam
    voluptatum! Deserunt ducimus libero minus nam neque! Amet assumenda debitis doloremque enim error est facilis fugit
    ipsam molestiae optio pariatur perspiciatis quidem, repellendus tenetur totam ut voluptate? Aperiam assumenda
    deserunt excepturi fugiat libero maxime nostrum veniam! Aut esse ex id illo minima omnis sequi similique,
    voluptatum. Animi aut commodi consequatur cum debitis eius enim explicabo impedit laborum maxime minus, modi natus
    neque nostrum optio possimus quaerat ratione recusandae reiciendis, soluta suscipit tempore tenetur? A asperiores
    assumenda consequatur corporis cupiditate dolor dolore dolorem ducimus, eius eligendi eum fuga illo illum itaque
    labore laboriosam omnis praesentium quasi quia quis ratione, reiciendis repellat reprehenderit sequi tempora unde
    velit. Alias delectus dolorum et expedita illum ipsam ipsum iste libero mollitia natus nesciunt perspiciatis quas
    quasi quis quod quos sapiente sed sint, ut, voluptate? Ab ducimus exercitationem in officia quidem tempora totam. A
    ad consequatur eius eligendi expedita, fugit possimus quo quod sequi vero? A at atque autem commodi consequatur
    corporis distinctio eaque earum et exercitationem incidunt ipsam ipsum laboriosam libero molestiae molestias
    mollitia nesciunt nihil, nulla numquam obcaecati omnis pariatur quia quis ratione repudiandae sequi tenetur vel
    veniam voluptates. Alias, atque autem blanditiis cupiditate dignissimos dolor earum facere, obcaecati saepe sapiente
    suscipit tempore voluptate. Aperiam beatae corporis cum dicta esse est facere fuga id in laboriosam mollitia nobis,
    nulla placeat quam qui repellendus repudiandae, rerum sunt voluptas voluptate. Facere hic porro quaerat qui ratione.
    Dolor facere laborum sapiente sed tempore. A animi architecto aspernatur at consequatur debitis delectus dolores
    dolorum eaque earum eius excepturi fuga inventore iste laborum modi molestiae necessitatibus neque nisi, non odit
    optio porro quae quaerat quisquam quos recusandae reiciendis repellendus, reprehenderit saepe sed similique soluta
    tenetur vel veritatis vitae voluptates. Blanditiis earum facere nisi non, odio ratione tempore voluptas. Ad atque
    blanditiis consectetur delectus dignissimos dolorem enim error ex excepturi exercitationem expedita facere fugiat
    illo labore laudantium molestiae nihil obcaecati officia porro possimus quibusdam quis quod quos ratione
    reprehenderit repudiandae sunt veniam, veritatis voluptate, voluptates! Ab adipisci aperiam asperiores autem
    corporis cumque, delectus fuga iste maiores nobis nostrum qui, quisquam reprehenderit sed soluta suscipit unde
    voluptas? Accusamus alias aliquid, asperiores blanditiis consequatur debitis dolor doloribus eaque est ex
    exercitationem fuga ipsum iure laudantium magni minima nemo nisi non nostrum numquam obcaecati officia officiis
    pariatur placeat possimus praesentium quasi quos reiciendis repellendus rerum sunt veritatis voluptatem voluptates.
    Consectetur consequuntur corporis eveniet explicabo fuga libero officiis rerum. Alias animi architecto eum
    exercitationem explicabo facere labore laudantium nisi odio officiis, omnis, pariatur placeat tenetur. Amet dolor
    ipsa odio recusandae voluptatibus. A, asperiores deleniti dolorum, earum eos eum exercitationem minus molestias
    numquam perferendis sed tempore, tenetur veniam. Beatae maiores necessitatibus quae quia similique! Accusantium
    architecto corporis fuga harum qui, totam voluptate. Blanditiis consequatur deserunt dolorum esse explicabo ipsa
    iste nam possimus? Aspernatur cupiditate sunt suscipit ut! Facere ipsum molestias quaerat quas quibusdam repudiandae
    vitae voluptates? Aliquid consectetur delectus dolor dolores ducimus ipsa nam odio sunt, voluptas. Aliquid
    architecto blanditiis consequuntur debitis dolorem, harum iusto numquam porro qui, quis temporibus totam veritatis
    voluptas voluptate voluptatem. Aliquid commodi cum, debitis, doloribus et expedita fuga in iure nemo nihil quaerat,
    quas quisquam quos sapiente sed sint voluptatem? A ad at commodi consectetur, dicta distinctio dolor error et
    mollitia nihil, nulla placeat suscipit, voluptate. Ab animi atque aut autem deserunt laboriosam nihil perferendis
    perspiciatis quia tempora? A accusamus adipisci, cum deleniti dolore, eos excepturi id impedit maxime numquam
    perferendis placeat saepe tempore vero vitae, voluptate voluptatem. At iure quod quos reprehenderit! Aperiam,
    aspernatur aut consequuntur, cupiditate, dolor eligendi id illo ipsa ipsum laboriosam laborum libero maxime minus
    modi molestiae nam natus nemo placeat porro quod ratione sint soluta totam? Consectetur debitis enim magni maiores
    nesciunt. Accusamus accusantium adipisci alias assumenda, aut autem beatae cumque cupiditate dicta eligendi enim et
    hic id iure mollitia nobis non numquam optio pariatur placeat praesentium rem suscipit tempore velit voluptates. Ad
    culpa dolores earum error iure, libero numquam quis quod suscipit temporibus! Aliquid autem beatae ex laborum libero
    maxime nobis numquam omnis, optio perspiciatis porro quam repudiandae sapiente tempore vel veritatis voluptatum!
    Accusamus aliquid eius fugiat iure iusto, labore, maiores maxime nobis quasi, quia quis quod repellendus
    reprehenderit sapiente tempora tenetur totam voluptatibus. Aliquid blanditiis culpa deserunt dolorem dolorum error
    fugit impedit placeat quam quidem quis ullam vel, voluptatem. Doloremque est facere itaque nulla numquam
    perspiciatis quaerat voluptatem. A cupiditate doloribus eaque est facere itaque magnam magni maxime, minima neque
    obcaecati, sapiente. Iure quaerat suscipit vitae! Animi consequuntur cumque debitis dignissimos dolor excepturi
    ipsam itaque nesciunt nisi, odio soluta, tempora vero? Alias atque sint vel! Eum facilis recusandae reprehenderit
    ullam. Ad aspernatur commodi delectus deleniti dolorem dolores doloribus eius eligendi eveniet illum ipsa itaque
    iusto magni molestias, natus nisi, numquam porro quae quibusdam recusandae similique tempora temporibus? Aliquid
    atque commodi cumque doloremque et fugit itaque libero minima molestias mollitia natus nihil, nulla pariatur
    perferendis placeat quaerat qui quis repudiandae temporibus voluptas! Animi aperiam consequuntur cumque dicta, earum
    est eum eveniet facere in minima molestiae nemo, numquam perferendis quae qui rem sapiente similique sunt totam vero
    vitae voluptatem, voluptates. Accusantium enim fuga iure quam quia repellendus voluptas! Ad cumque doloribus
    ducimus, eos fuga incidunt nobis perspiciatis placeat tenetur voluptate. Assumenda consequatur dignissimos dolore
    quidem rem. Dolorem esse obcaecati quia quo? A consequuntur delectus deserunt dignissimos dolore dolorem earum ex
    expedita facere facilis, impedit in incidunt minima minus nisi nulla numquam odio odit officiis omnis perspiciatis
    possimus quibusdam quis recusandae sed, similique, tempora ullam veritatis vero?</p>
{% endblock %}

{% block footer %}
<!--подвал-->
<br>
<footer class="bg-body-tertiary text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2024 С нами по свету
    </div>
    <!-- Copyright -->
</footer>
<!--подвал end-->
{% endblock %}
