<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{  title  }}</title>
    <link type="image/png" sizes="32x32" rel="icon" href="images/favicon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="css/style.css">

</head>
 <!--
{#
    АЛГОРИТМ цикла FOR
        {% FOR переменная  IN  коллекция = pets['pets'] %}
        HTML код
    loop.index возвращает индекс итерации начиная с 1 (defaults)
    loop.index0 возвращает индекс итерации начиная с 0
    loop.first первая итерация TRUE остальные False
    loop.last последняя итерация TRUE

#}
-->
<body>
<!--главный контейнер-->
<div class="container">
<!-- {#
    {% for item in pets['pets'] %}
    <h1>Питомец № {{ loop.index }}</h1>
    {% if loop.first %}
    <p>Мой любимец</p>
    {% elif loop.last %}
    <p>Не в фаворе</p>
    {% endif %}
    <h2>{{ item['pet'] }}</h2>
    <p>{{ item['name'] }}</p>
    <p>{{ item['food'] }}</p>
    <p>{{ item['age'] }}</p>
    {% endfor %}
#}-->

     {%  for item in pets['pets']  %}
        {% if loop.first %}
        <h3> Мой любимчик </h3>
        {% else %}
        <h3> Не самый, но мой любимчик </h3>
        {% endif %}
       <p> Расовая принадлежность {{   item['pet']  }}</p>
        <i><b> Кличка {{   item['name']  }}</b></i><br>
        <b>Ест {{  item['food']  }} и будет есть</b><br>
        <b>в возрасте {{  item['age']  }}</b><br>


    {%  endfor  %}

</div>
<!--главный контейнер (end)-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>